/*
 * Empty Stylesheet file.
 */

#AnchorPane {
    -fx-background-image: url("../images/multi1.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: stretch;


}

#AnchorPane1 {
    -fx-background-image: url("../images/img3.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: stretch;


}


